.bg-nav-blue {
    background-color: #122969;
}

.custom-font-amcap {
    font-family: 'AMCAP Eternal', sans-serif;
}

.custom-font-poppins {
    font-family: 'Poppins', sans-serif;
}

.text-orange {
    color: #e57c23;
}

.text-white {
    color: #ffffff;
}