.text-blue, p .text-orange, h2 .text-orange {
    font-family: 'AMCAP Eternal', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.text-blue {
    color: #122969;
}

h2 .text-orange, p .text-orange {
    color: #e57c23;
}