.custom-font-amcap {
    font-family: 'AMCAP Eternal', sans-serif;
}

.custom-font-poppins {
    font-family: 'Poppins', sans-serif;
}

.text-blue {
    color: #122969;
}

.text-orange {
    color: #e57c23;
}