.btn-darkblue {
    background-color: #122969 !important;
    color: #ffffff !important;
}

.btn-orange {
    background-color: #e57c23 !important;
    color: #ffffff !important;
}

.custom-font-amcap {
    font-family: 'AMCAP Eternal', sans-serif;
}

.custom-icon {
    height: 30px;
    width: 30px;
}

.custom-icon-animated {
    transition: transform .6s;
}

.custom-icon-animated:hover {
    animation: 3s linear .1s colorIt;
    transform: scale(1.2);
}

.text-orange {
    color: #e57c23;
}