.custom-icon {
    height: 30px;
    width: 30px;
}

.custom-font-amcap {
    font-family: 'AMCAP Eternal', sans-serif;
}

.text-orange {
    color: #e57c23;
}

.btn-darkblue {
    background-color: #122969 !important;
    color: #ffffff !important;
}

.btn-orange {
    background-color: #e57c23 !important;
    color: #ffffff !important;
}